<section fxLayout="row wrap" fxLayoutAlign="center center">
    <mat-card fxFlex="500px" fxFlex.xs="100%">
    <mat-card-title>Create new Ticket</mat-card-title>
    <form [formGroup]="ticketForm" autocomplete="off" novalidate (ngSubmit)="onSubmit(ticketForm.value)" fxLayout="column wrap"
        fxLayoutAlign="center center" fxLayoutGap="10px">

        <mat-card-content>
            <mat-form-field>
                <input matInput type="text" placeholder="Ticket name" formControlName="name" id="name">
                <mat-hint align="end">Max 60 characters</mat-hint>
                <mat-error *ngIf="hasError('name', 'required')">Insert ticket name</mat-error>
                <mat-error *ngIf="hasError('name', 'maxlength')">Max 60 chars</mat-error>
            </mat-form-field>

            <mat-form-field>
                <textarea matInput type="text" placeholder="Ticket description" formControlName="description" id="description" cols="20" rows="5"></textarea>
                <mat-error *ngIf="hasError('description', 'required')">Insert ticket descritpion</mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-select matInput placeholder="Product" formControlName="product" id="product" (selectionChange)="getProductParts($event.value)">
                    <mat-option *ngFor="let product of products" [value]="product.id">{{product.name}}</mat-option>
                </mat-select>
                <mat-error *ngIf="hasError('product', 'required')">Select product</mat-error>
            </mat-form-field>

            <mat-form-field *ngIf=ticketForm.valid>
                    <mat-select matInput placeholder="Product part" formControlName="productPart" id="productPart">
                        <mat-option [value]="null">None</mat-option>
                        <mat-option *ngFor="let productPart of productParts" [value]="productPart.id">{{productPart.name}}</mat-option>
                    </mat-select>
            </mat-form-field>
        </mat-card-content>

        <mat-card-actions align="center">
            <button mat-raised-button color="primary" [disabled]="!ticketForm.valid">Create ticket</button>
            <button type="button" mat-raised-button color="warn" (click)="onCancel()">Cancel</button>
            
        </mat-card-actions>

    </form>
</mat-card>
</section>
