<section fxLayout="row wrap" fxLayoutAlign="center center">
        <mat-card fxFlex="500px" fxFlex.xs="100%">
        <mat-card-title>Update Ticket</mat-card-title>
        <form [formGroup]="updateTicketForm" autocomplete="off" novalidate (ngSubmit)="updateTicket(updateTicketForm.value)" fxLayout="column wrap"
            fxLayoutAlign="center center" fxLayoutGap="10px">
    
            <mat-card-content>
                <mat-form-field>
                    <input matInput type="text" placeholder="Ticket name" formControlName="name" id="name">
                    <mat-hint align="end">Max 60 characters</mat-hint>
                    <mat-error *ngIf="hasError('name', 'required')">Insert ticket name</mat-error>
                    <mat-error *ngIf="hasError('name', 'maxlength')">Max 60 chars</mat-error>
                </mat-form-field>
    
                <mat-form-field>
                    <textarea matInput type="text" placeholder="Ticket description" formControlName="descr" id="description" cols="20" rows="5"></textarea>
                    <mat-error *ngIf="hasError('descr', 'required')">Insert ticket descritpion</mat-error>
                </mat-form-field>

            </mat-card-content>
    
            <mat-card-actions align="center">
                <button mat-raised-button color="primary" [disabled]="!updateTicketForm.valid">Update ticket</button>
                <button type="button" mat-raised-button color="warn" [mat-dialog-close]="true">Cancel</button>
                
            </mat-card-actions>
    
        </form>
    </mat-card>
    </section>