<section fxLayout="row wrap" fxLayoutAlign="center center">

    <mat-card fxFlex="500px" fxFlex.xs="100%">
        <mat-card-title>{{ticket?.name}}</mat-card-title>
        <mat-card-content>
          <div fxLayout="column wrap" fxLayoutGap="40px">
            <div fxLayout="column wrap" fxFlex class="image">
                <img src="../../../assets/weed.jpg">
            </div>

            <div fxLayout="row wrap" fxFlex>
              <div fxFlex><strong>Ticket id:</strong></div>
              <div fxFlex>{{ticket?.ticket_id}}</div>
            </div>
      
            <div fxLayout="row wrap" fxFlex>
              <div fxFlex><strong>Author:</strong></div>
              <div fxFlex>{{ticket?.author_nickname}}</div>
            </div>
      
            <div fxLayout="row wrap" fxFlex>
              <div fxFlex><strong>State:</strong></div>
              <div fxFlex *ngIf="ticket?.state == 'SOLVED'" class="green">SOLVED</div>
              <div fxFlex *ngIf="ticket?.state == 'CREATED'" class="red">CREATED</div>
              <div fxFlex *ngIf="ticket?.state == 'IN PROGRESS'" class="orange">IN PROGRESS</div>
            </div>

            <div fxLayout="row wrap" fxFlex>
                <div fxFlex><strong>Created:</strong></div>
                <div fxFlex>{{ticket?.creation_date}}</div>
            </div>

            <div fxLayout="row wrap" fxFlex>
                <div fxFlex><strong>Product:</strong></div>
                <div fxFlex>
                  <a (click)="navigateToProduct(ticket?.product_id)" href="javascript:void(0)">{{ticket?.product_name}}</a>
                </div>
            </div>

            <div *ngIf="ticket?.part_name != null" fxLayout="row wrap" fxFlex>
                <div fxFlex><strong>Product part:</strong></div>
                <div fxFlex>
                  <a (click)="navigateToProductPart(ticket?.product_id, ticket?.part_id)" href="javascript:void(0)">{{ticket?.part_name}}</a>
                </div>
            </div>

            <div fxLayout="row wrap" fxFlex>
                <div fxFlex><strong>Description:</strong></div>
                <div fxFlex>{{ticket?.description}}</div>
            </div>

          </div>
        </mat-card-content>

      </mat-card>
</section>
