<mat-toolbar color="primary">
    <div fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>

    <div>
        <a routerLink="/home">Issue Tracking System</a>
    </div>

    <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
        <ul fxLayout fxLayoutGap="15px" class="navigation-items">
            <li>
                <a routerLink="/tickets">Tickets</a>
            </li>
            <li>
                <a routerLink="/products">Products</a>
            </li>
            <li>
                <a *ngIf="!globals.loggedIn" routerLink="/login">Login</a>
                <a *ngIf="globals.loggedIn" [matMenuTriggerFor]="userMenu">Account</a>
                <mat-menu #userMenu="matMenu">
                    <button mat-menu-item disabled>Logged in: user</button>
                    <button mat-menu-item routerLink="/user/settings">Settings</button>
                    <button mat-menu-item (click)="logout()">Logout</button>
                </mat-menu>
            </li>
        </ul>
    </div>
</mat-toolbar>