<div fxLayout fxLayoutAlign="center center">
    <mat-form-field fxFlex="20%" fxLayoutAlign="start">
      <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Search">
    </mat-form-field>
    <div *ngIf="globals.userLevel == 5">
      <a [routerLink]="['/manage-users/create']" mat-button color="primary">Create new user</a>
    </div>
  </div>
  
  <table mat-table [dataSource]="dataSource" matSort matSortStart="desc">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
  
    <ng-container matColumnDef="login">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Login </th>
      <td mat-cell *matCellDef="let element"> {{element.login}} </td>
    </ng-container>
  
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
      <td mat-cell *matCellDef="let element"> {{element.type}} </td>
    </ng-container>
   
    <ng-container matColumnDef="details">
      <th mat-header-cell *matHeaderCellDef> Details </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="primary" (click)="redirectToDetails(element.id)">
            <mat-icon class="mat-18">reorder</mat-icon>
        </button>
      </td>
    </ng-container>
   
    <ng-container matColumnDef="update">
        <th mat-header-cell *matHeaderCellDef> Update </th>
        <td mat-cell *matCellDef="let element">
          <button *ngIf="globals.userLevel == 5 && element.type != 'admin'" mat-icon-button color="accent" (click)="updateUser(element.id)">
              <mat-icon class="mat-18">system_update</mat-icon>
          </button>
          <button *ngIf="globals.userLevel < 5 || element.type == 'admin'" mat-icon-button color="accent" disabled>
            <mat-icon class="mat-18">system_update</mat-icon>
        </button>
        </td>
      </ng-container>
   
      <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef> Delete </th>
          <td mat-cell *matCellDef="let element">
              <button *ngIf="globals.userLevel == 5 && element.type != 'admin'" mat-icon-button color="warn">
                  <mat-icon class="mat-18" [matMenuTriggerFor]="delete">delete</mat-icon>
                  <mat-menu #delete="matMenu">
                    <button mat-menu-item disabled>Are you sure?</button>
                    <button mat-menu-item (click)="deleteUser(element.id)">Yes</button>
                    <button mat-menu-item>No</button>
                  </mat-menu>
              </button>
              <button disabled *ngIf="globals.userLevel != 5 || element.type == 'admin'" mat-icon-button color="warn">
                  <mat-icon class="mat-18">delete</mat-icon>
              </button>
              <button *ngIf="globals.userLevel < 5" mat-icon-button color="warn" disabled>
                <mat-icon class="mat-18">delete</mat-icon>
            </button>
            </td>
        </ng-container>
   
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  <mat-paginator [pageSize]="10" [pageSizeOptions]="[2, 4, 6, 10, 20]"></mat-paginator>
  