<section fxLayout="row wrap" fxLayoutAlign="center center">
    <mat-card fxFlex="500px" fxFlex.xs="100%">
        <mat-card-title>{{product?.name}}</mat-card-title>
        <mat-card-content>
          <div fxLayout="column wrap" fxLayoutGap="40px">
            <div fxLayout="row wrap" fxFlex>
              <div fxFlex><strong>Product id:</strong></div>
              <div fxFlex>{{product?.id}}</div>
            </div>
      
            <div fxLayout="row wrap" fxFlex>
              <div fxFlex><strong>Manager:</strong></div>
              <div fxFlex>{{product?.manager}}</div>
            </div>

            <div fxLayout="row wrap" fxFlex>
                <div fxFlex><strong>Description:</strong></div>
                <div fxFlex>{{product?.descr}}</div>
            </div>

          </div>
        </mat-card-content>

      </mat-card>
</section>